name: CD

on:
  pull_request_target:
    branches:
      - master
    types: [ closed ]


#on:
#  push:
#    branches-ignore:
#      - '**'  # temporally ignore all


jobs:
  hub-build-push:
    if: github.event.pull_request.merged == true
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Jina Hub Image Builder
        uses: jina-ai/hub-builder@master
        with:
          push: true
          jina_hub_token: ${{ secrets.JINA_DEV_BOT }}
          dockerhub_username: ${{ secrets.JINAHUB_DOCKER_USER }}
          dockerhub_password: ${{ secrets.JINAHUB_DOCKER_PWD }}
          slack_webhook: ${{ secrets.JINAHUB_SLACK_WEBHOOK }}
