name: CI

on: [pull_request]

jobs:
  commit-lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - run: "echo \"module.exports = {extends: ['@commitlint/config-conventional']}\" > commitlint.config.js"
      - uses: wagoid/commitlint-github-action@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  hub-build-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - id: changed-files
        uses: jitterbit/get-changed-files@v1
        continue-on-error: true
      - name: Check if any executor has changed
        id: executor-changed
        run: |
          is_changed=0
          executor_dirs=("classifiers crafters encoders evaluators indexers rankers segmenters")
          for changed_file in ${{ steps.changed-files.outputs.all }}; do
            file_base_dir=$(echo $changed_file | cut -d/ -f1)
            current_executor_changed=$(echo ${executor_dirs[@]} | grep -o "$file_base_dir" | wc -w)
            if [ ${current_executor_changed} == 1 ]; then is_changed=1; fi
          done
          echo "::set-output name=is_changed::${is_changed}"
      - name: Jina Hub Image Builder
        if: steps.executor-changed.outputs.is_changed == 1
        uses: jina-ai/action-hub-builder@master
        with:
          # push is true only for PRs raised by jina-bot
          push: ${{github.actor == 'jina-bot'}}
          dockerhub_username: ${{ secrets.JINAHUB_DOCKER_USER }}
          dockerhub_password: ${{ secrets.JINAHUB_DOCKER_PWD }}
          slack_webhook: ${{ secrets.JINAHUB_SLACK_WEBHOOK }}

