name: auto-merge
on:
  pull_request:
    types: [ labeled ]
jobs:
  auto-merge:
    if: ${{ github.event.label.name == 'dependencies' && github.event.pull_request.user.login == 'dependabot[bot]'}}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: ahmadnassri/action-dependabot-auto-merge@v2
        with:
          target: patch
          github-token: ${{ secrets.GITHUB_TOKEN }}
